@model OnlineMall.Models.Product

@{
    ViewData["Title"] = @Model.ShortName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                 <img src="@Model.ImgPath" class="card-img-top" alt="Green jacket" />
            </div>
            <div class="col-md">
                <h5>@Model.ShortName</h5>
                <p>@Model.FullName</p>

                <p>@Model.Price</p>


                <p>@Model.Color</p>
                <p>@Model.Size</p>
                
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
