@model OnlineMall.Models.ShoppingCart
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Product name</p>
            </th>
            <th>
                <p>Full name</p>
            </th>
            <th>
                <p>Color</p>
            </th>
            <th>
                <p>Size</p>
            </th>
            <th>
                <p>Price</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var item in Model.ListOfItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Product.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Product.Id">Delete</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
